
<div class="container-fluid">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom dashboard">
      <h1 class="h2">Dashboard</h1>
    </div>
    <div class="row">
      <!-- Sidebar -->
  
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/add-book">
                <span data-feather="home"></span><i class="bi bi-plus-lg"></i>
                Add Book
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/delete-book">
                <span data-feather="file"></span><i class="bi bi-x-lg"></i>
                Delete Book
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/view-book">
                <span data-feather="shopping-cart"></span><i class="bi bi-file-earmark-text"></i>
                View Books
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="users"></span><i class="bi bi-person-fill"></i>
                Add Student
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="bar-chart-2"></span><i class="bi bi-pass"></i>
                Issue Book
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link image active" href="#">
                <span data-feather="layers"></span><i class="bi bi-arrow-left-square-fill"></i>
                Return Book
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="layers"></span><i class="bi bi-grid-3x2"></i>
                Report
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  
  
        <!-- Dashboard content -->
        <div class="row">
          <div class="col-md-6">
            <h5>No. Of Books</h5>
            <canvas baseChart width="50" height="50" type="bar" [data]="barchartdata" id="barchart"></canvas>
          </div>
          <div class="col-md-6">
            <h5>No. Of Books</h5>
            <canvas baseChart width="50" height="50" type="pie" [data]="piechartdata" [options]="pieChartOptions"
              id="piechart"></canvas>
          </div>
        </div>
  
        <h4 class="mt-4">Issued Book Summary</h4>
        <div class="table-bordered table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ISBN</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Roll No.</th>
                <th>Name</th>
                <th>Issued On</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>978-3-16-148410-0</td>
                <td>Example Book</td>
                <td>John Doe</td>
                <td>12345</td>
                <td>Jane Smith</td>
                <td>2024-07-01</td>
              </tr>
              <tr>
                <td>978-3-16-148410-0</td>
                <td>Example Book</td>
                <td>John Doe</td>
                <td>12345</td>
                <td>Jane Smith</td>
                <td>2024-07-01</td>
              </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>